@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

/*--HTML--*/

html {
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 0 25px;
    min-height: 100%;
    width: 100%;
    background-color: royalblue;
    border: solid 10px black;
}

/*--Header--*/
header {
    background-color: skyblue;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 10px black;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    font-weight: 800;
}

/*--Score & counter formatting--*/
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.game-data {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
}

#score {
    font-weight: bold;
}

#seconds {
    font-weight: bold;
}

/*--Game area and board layout--*/

.side-area {
    background-image: url("../images/runningMoleRepeat.webp");
    background-size: cover;
    padding-bottom: 10px;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.center-content {
    background-color: royalblue;
}

.gameboard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    grid-gap: 2px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-color: royalblue;
}

.square {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.head-image {
    width: 50px;
    height: 50px;
}

.grid-image {
    object-fit: scale-down;
}

.mole {
    background-image: url('../images/mole.webp');
    background-size: cover;
}

.grass {
    background-image: url('../images/grass.webp');
    background-size: cover;
}

.hammer {
    background-image: url('../images/hammer.webp');
    background-size: cover;
}

.start {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gameSpeed {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    width: 100px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: large;
    text-align: center;
    text-emphasis: bold;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: white;
    padding: none;
    border: solid white 2px;
}

.btn--green {
    border-color: white;
    background-color: darkgreen;
}

.btn--green:active,
.btn--green:hover {
    background-color: greenyellow;
    border-color: white;
    color: black;
}

/*--Footer--*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lawngreen;
    padding-top: none;
    padding-bottom: none;
    border: solid 10px black;
}

footer li,
i {
    color: black;
    font-weight: bold;
}

/*--Menu Items */
.menuitem {
    height: 50px;
    width: 50px;
    font-size: 18px;
    text-align: center;
    padding: 0 3px 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 50px;
    width: 50px;
    font-size: 18px;
}

.menuitem a:hover {
    text-decoration: underline solid black 3px;
}

.menuitem a i {
    display: block;
    color: black;
    font-size: 18px;
}

.menuitem button {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: none;
}

.copyright {
    font-size: 12px;
}

/*--Adjustments for different screen sizes--*/
@media only screen and (max-width:1400px) {
    .side-area {
        display: none;
    }
}

@media only screen and (max-width:767px) {

    h2 {
        font-size: x-large;
    }

    .gameboard {
        display: grid;
        grid-template-columns: 90px 90px 90px;
        grid-auto-rows: 90px;
        grid-gap: 2px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .square {
        border: 2px solid black;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menuitem {
        font-size: 80%;
        padding: none;
    }

    .menuitem a i {
        font-size: 80%;
        padding: none;
    }

    .copyright {
        padding: none;
    }
}

@media only screen and (max-width:360px) {

    h2 {
        font-size: large;
    }

    .gameboard {
        display: grid;
        grid-template-columns: 70px 70px 70px;
        grid-auto-rows: 70px;
        grid-gap: 2px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: none;
    }

    .square {
        border: 2px solid black;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menuitem {
        font-size: 65%;
        padding: none;
    }

    .menuitem a i {
        font-size: 65%;
        padding: none;
    }
}

@media only screen and (max-width:320px) {

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: medium;
    }

    .head-image {
        width: 35px;
        height: 35px;
    }
}